<div dir="rtl" class="mb-4">
     <h6>رقم الموظف</h6>
     <div class="p-3 rounded mt-3 d-flex justify-content-between" style="width: 370px; background-color :#F3F3F3; max-width: 80%;">
          <h6 class="data">10144001321563</h6>
          <h6 class="text-secondary"><i class="bi bi-files ms-1"></i>نسخ</h6>
     </div>
</div>
<div dir="rtl mb-4">
    <h6>إسم الموظف</h6>
    <div class="p-3 rounded mt-3 d-flex justify-content-between" style="width: 370px; background-color :#F3F3F3; max-width: 80%;">
         <h6 class="data">محمد علي عمران جلالي</h6>
         
    </div>
</div>
