.icons{
    color: #3D5653;
    font-size: 1.2rem;
}
.iconOuter{
    height: 35px;
     width: 35px;
}
.secondIconOuter{
    height: 35px;
     width: 35px;
     background-color: rgba(150, 199, 254, 0.3);
}