<div class="bg-white shadow-lg w-100 p-3">
 <div class="ms-md-5 d-flex">
    <div class="me-3  rounded-2 d-flex justify-content-center align-items-center secondIconOuter " >
    <i class="bi bi-envelope-fill icons" ></i>
    </div>
    <div class="me-3  rounded-2 d-flex justify-content-center align-items-center secondIconOuter "  >
    <i class="bi bi-bell-fill icons "></i>
 </div>
    <div class="me-3 bg-secondary rounded-2 d-flex justify-content-center align-items-center iconOuter" >
        <i class="bi bi-search" style="color: white;"></i>
      </div>
 </div>
</div>